<div class="trust-safety-content">
  <div class="container">
    <h2>Trust and Safety</h2>
    <p>Reputation matters</p>
    <p>
      Businesses earn great reviews on Dinespotting the same way they build their
      reputations in the community: by excellent food recipes, services, and
      customer experiences. This is because () works hard to feature content
      that presents real experiences that customers feel motivated to share.
    </p>
    <h3>Authenticity & Reliability</h3>
    <p>
      Under Dinespotting policies, businesses are not allowed to ask their customers
      for reviews, and customers can only write about their first-hand
      experiences. Also, we use automated recommendation software designed to
      identify and recommend the most trusted content.
    </p>
    <h3>Providing Right Information</h3>
    <p>
      Fake news and ambiguous behavior are unfortunately common on the web. We
      have teams and policies to secure our community of consumers and
      businesses and prevent any potential misfortune.
    </p>
    <h3>Data you Want to Know.</h3>
    <p>
      Numerous factors are crucial when considering a business. At Dinespotting, we
      offer essential information to help customers feel comfortable with their
      decision.
    </p>
  </div>
</div>
