<div class="login reset-password">
    <div class="contentbox">
       <div class="login-form">
          <a href="#"><img src="assets/img/logo.svg" class="logo_img" alt=""></a>   
          <h2>Reset Password </h2>
          <p>Please enter the following credentials!</p>
          <form class="row g-3" [formGroup]="resetForm">
             <div class="col-md-12  col-12 form-group">
                <label for="inputEmail4" class="form-label">New Password<span class="red">*</span></label>
                <div class="position-relative">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="mail@website.com" formControlName="password">   
                  
                  <img src="assets/img/hide.svg" class="eye-icon button" *ngIf="!this.fieldText" (click)="toggleFieldText('inputEmail4')" alt="">
                  <img src="assets/img/show.svg" class="eye-icon button" *ngIf="this.fieldText" alt="" (click)="toggleFieldText('inputEmail4')">
               </div>
                <div class="invalid-feedback" *ngIf="resetForm.controls.password.touched || isSubmit">
                    <app-form-validators-errors minLength=8 maxLength=50 errorPrefix="Password " [errors]="resetForm.get('password').errors"></app-form-validators-errors>
                  </div>              
             </div>
             <div class="col-md-12 form-group">
                <label for="inputPassword4" class="form-label">Confirm Password<span class="red">*</span></label>
                <div class="position-relative">
                  <input type="password" class="form-control" id="inputPassword4" placeholder="********" formControlName="confirm_password">
                  <img src="assets/img/hide.svg" class="eye-icon button" *ngIf="!this.fieldtext" (click)="toggleField('inputPassword4')" alt="">
                  <img src="assets/img/show.svg" class="eye-icon button" *ngIf="this.fieldtext"  alt="" (click)="toggleField('inputPassword4')">
               </div>
                <div class="invalid-feedback" *ngIf="resetForm.controls.confirm_password.touched || isSubmit">
                    <div *ngIf="resetForm.controls.confirm_password.errors?.required" class="text-danger" >Confirm password is required</div>
                    <div *ngIf="resetForm.controls.confirm_password.errors?.mustMatch" class="text-danger" >Passwords must match</div>
                   </div>
             </div>
             <!-- <a class="btn btn-primary" href="#" role="button">SUBMIT</a>     -->
             <div class="modal-box">
                <!-- Button trigger modal -->
                <button type="submit" (click)="submit()" class="btn btn-primary" >
                SUBMIT
                </button>
                <!-- Modal -->
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-dialog-centered" [style.display]="showModal ? 'block' : 'none'">
                      <div class="modal-content">
                         <div class="modal-header">
                            <img src="assets/img/confirm.svg" alt="">
                         </div>
                         <div class="modal-body">
                            Congratulations! Your password has been reset successfully. 
                         </div>
                         <div class="modal-footer text-center">
                            <button type="button" class="btn btn-primary">OKAY</button>
                         </div>
                      </div>
                   </div>
                </div> -->
             </div>
          </form>
       </div>
    </div>
    <div class="login-img">
       <img src="assets/img/login-img.png" alt="">
    </div>
 </div>