<div class="about-page-content">
  <div class="container">
    <h2>About Us</h2>
    <p>DineSpoting</p>
    <p>Where you discover the top-rated restaurants in seconds!</p>
    <p>
      We help you explore the best restaurants in town.DineSpotting offers you a
      glimpse at the highest-rated local restaurants near you based on ratings
      from various different sources.
    </p>
    <p>Find your next best restaurant with us!</p>
    <p>From Where it All Started...</p>

    <p>
      <b
        >Dinespotting was founded in December 2021, when Rashid—one of the
        co-founders—was a tourist in New York City.</b
      >
    </p>
    <p>
      <b
        >For a tourist like Rashid, finding the best restaurants around him was
        difficult due to several reasons: he had to google around 5 different
        restaurants, compare ratings from 3 different sources and read several
        reviews from various sources.</b
      >
    </p>
    <p>
      <b
        >What's supposed to be a simple process ended up being a difficult and
        time-consuming process.</b
      >
    </p>
    <p>
      <b
        >It was during this troublesome process that the idea of Dinespotting
        came into existence. Dinespotting aims to eliminate the troublesome
        process of finding restaurants by providing all the information needed
        in one place.</b
      >
    </p>
    <p>The Values We Adhere To...</p>
    <p>
      We aim to never let you eat at a bad restaurant again by simplifying the
      restaurant search process for you!
    </p>
    <p>Our Team</p>
    <p>Dinespotting was founded by foodies for foodies in 2021!</p>
  </div>
</div>
