.profile-wrap .img-upload-div img {
    width: 16%;
    margin-bottom: 20px;
    border-radius: 100%;
}
.form-wrap input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(225,223,236,1);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 30px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
}
.content-header>h1{

    margin-left: 20px !important;
}
.btn-primary{
    background: #FF5858 !important;
    border-color: #FF5858;
    padding: 8px 36px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}