<div class="about-page-content">
  <div class="container">
    <h1>About Us</h1>
    <p>DineSpotting - Quickly find the Best rated restaurants nearby.</p>
    <h2>From Where it all Started!</h2>
    <p>DineSpotting was founded in December 2021 while one of the co-founders, Rashid, was touring in New York City. As a tourist Rashid encountered a few challenges while trying to locate the <a [routerLink]="['/home']"><b> top-rated restaurants</b></a>around.</p>
    <p>
      He had to google five restaurants, compare ratings, and read reviews from three different sources. What was intended to be a simple exercise turned out to be a difficult and time-consuming process.

    </p>
    <p>During this troublesome course, the idea of DineSpotting came into being.</p>
    <p>Dinespotting was founded by ‘foodies for foodies’ in 2021!
    </p>
<h2>Our Mission
</h2>

<p>DineSpotting serves as a one-stop website for all our Dinespotters.
  By streamlining your restaurant search, we aim to ensure that you never have to eat at a subpar restaurant again! 
  </p>
    <p>
      It looks after your restaurant needs, where you can read good food reviews and discover the best-reviewed restaurants near you. 

    </p>
    <h2>Discover your favorite restaurants</h2>
    <p>Our sleek layout makes it easy to locate exactly what you're searching for. We classify most-reviewed restaurants based on proximity and cuisine type, so whether you are craving authentic Thai or Italian food, DineSpotting has something for you!</p>
  
    <h2>Save time and money with DINESPOTTING!</h2>
    <p>DineSpotting is a restaurant ratings website where you can browse reviews and discover the top–rated food places near you. This app is ideal for foodies seeking a specific type of food or cuisine as well as those concerned about the quality of service provided by a restaurant.</p>
    <p>DineSpotting saves you time and money by eliminating the need to look through varied reviews whenever you're in need of a good meal.</p>
    <p> 
      Our full-featured review system provides our DineSpotters with the necessary information they need before deciding where to eat!
      </p>