<div class="row ">
    <div class="col-12">
        <form [formGroup]="changePasswordForm" autocomplete="off" (ngSubmit)="onChangePassword()" class="form-wrap card p-4">
            <div class="form-group mb-3">
                <label>Old password</label>
                <input formControlName="oldPassword" #input2 type="password" class="form-control" placeholder="******">
                <img src="assets/img/hide.svg" class="eye-icon button" *ngIf="!this.fieldtext2" (click)="oldToggleField(input2)" alt="">
                  <img src="assets/img/show.svg" class="eye-icon button" *ngIf="this.fieldtext2"  alt="" (click)="oldToggleField(input2)">
                <p class="errorCls" *ngIf="formRef['oldPassword'].touched || isPasswordFormSubmitted">
                    <app-form-validation-errors errorPrefix="Old password " [errors]="formRef['oldPassword'].errors || []"></app-form-validation-errors>
                </p>
            </div>
            <div class="form-group mb-3 ">
                <label>New password</label>
                <input formControlName="Password" #input type="password" class="form-control" placeholder="******">
                <img src="assets/img/hide.svg" class="eye-icon button" *ngIf="!this.fieldtext" (click)="toggleField(input)" alt="">
                  <img src="assets/img/show.svg" class="eye-icon button" *ngIf="this.fieldtext"  alt="" (click)="toggleField(input)">
                <p class="errorCls" *ngIf="formRef['Password'].touched || isPasswordFormSubmitted">
                    <app-form-validation-errors errorPrefix="Password " [errors]="formRef['Password'].errors || []"></app-form-validation-errors>
                </p>
            </div>    
            <div class="form-group mb-3 ">
                <label>Confirm new password</label>
                <input formControlName="confirmPassword" #input1 type="password" class="form-control" placeholder="******">
                <img src="assets/img/hide.svg" class="eye-icon button" *ngIf="!this.fieldtext1" (click)="reToggleField(input1)" alt="">
                  <img src="assets/img/show.svg" class="eye-icon button" *ngIf="this.fieldtext1"  alt="" (click)="reToggleField(input1)">
                <p *ngIf="formRef['confirmPassword']?.touched || isPasswordFormSubmitted">
                    <app-form-validation-errors errorPrefix="Confirm Password " [errors]="formRef['confirmPassword']?.errors || []"></app-form-validation-errors>
                  </p>
            </div>
            <div class="form-group  ">
            <button  type="submit" [disabled]="!changePasswordForm.valid" [ngClass]="{ 'disabled-btn': !changePasswordForm.valid }" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>    
</div>