<div class="review-guidelines-content">
  <div class="container">
    <h3>General Guidelines</h3>
    <p>
      People use (xxxx) to connect with great local restaurant and beverage
      businesses. We understand that people won’t always agree, but we
      anticipate that everyone on the app/website treats one another and the
      platform with respect and truthfulness. We’ve gathered these general
      guidelines to help set the intonation for discourse on the app/site - Just
      in case.
    </p>
    <p>
      Please go through the additional guidelines below for specific types of
      content that you may post on the app/site.
    </p>

    <h3>Relevance</h3>
    <p>
      Please ensure your contributions are relevant to the forum. For instance,
      reviews are not the place for raving about business employment practices,
      political ideologies, unfortunate circumstances, or other matters that
      don’t help customer experience.
    </p>

    <h3>Conflict of Interest</h3>
    <p>
      Your contributions to (XXXX) should be unbiased and impartial. For
      example, you shouldn’t write a review of your business or employer, your
      friend’s or relative’s business, your peers or competitors in your
      industry, or the business in your networking group. Also, businesses
      should not ask customers to write reviews.
    </p>

    <h3>Promotional Content</h3>
    <p>
      Don’t post promotional content unless related to (xxxx) advertising
      products or through a business account. Please, keep the app/site valuable
      for potential users and not overrun with commercial noise from every user.
    </p>

    <h3>Inappropriate Content</h3>
    <p>
      Images and colorful expressions are welcomed, but there’s no place for
      threats, lewdness, profound language, harassment, or other display of
      bigotry.
    </p>

    <h3>Privacy</h3>
    <p>
      Don’t promulgate people’s private information. For example, please don’t
      post photos or videos of other patrons without their permission, and don’t
      post other people’s full names unless you are referring to someone
      commonly referred to by their full name.
    </p>

    <h3>Intellectual Property</h3>
    <p>
      Don’t swap content from other sites, platforms, users, or businesses. So,
      write your own copy and share your own photos and videos.
    </p>

    <h3>Review Guidelines:</h3>
    <p>
      The best reviews are passionate and personal and portray your customer
      experience. They should offer a rich narrative, complete detail, and
      helpful tip for other customers. Here are some suggestions for
      conscientious reviews:
    </p>

    <h3>Incentivized Reviews</h3>
    <p>
      If you receive a free or discounted service from a business in exchange
      for posting a review:
    </p>
    <ul>
      <li>
        You should clearly and conspicuously disclose the fact by including the
        expression at the start of the review, “I have this dish for free or at
        a discount for my review.” You may indicate that the review nonetheless
        reflects your honest opinion.
      </li>
      <li>
        The business should not direct the content of your review, including by
        needing the review to be positive.
      </li>
    </ul>
    <p>
      (XXXX) doesn’t permit reviews that are posted in exchange for compensation
      of any other kind.
    </p>
    <h3>Review updates:</h3>
    <p>
      Review updates should present a new experience or interaction with the
      business. Don’t keep posting about the same story you’ve already shared.
      If you’d like to add new insights to an old review, you can edit your
      review within <span style="color: red">(yy days)</span> of posting it.
    </p>
    <h3>Review Process:</h3>
    <p>
      In some scenarios, (xxxx) may contact you regarding your review's content
      before it gets published. You agree to monitor your email after giving a
      review so that you can quickly respond to (XXXX). You’ll be asked to agree
      to our <strong>Terms of Service</strong> and these
      <strong>Review Guidelines</strong> when you provide a review.
    </p>
    <h3>Inappropriate Reviews</h3>
    <p>
      You can contact us to report a review as inappropriate. We will then check
      if the review violates these guidelines or (xxxx) Terms of Use. Reviews
      are analyzed and evaluated from the perspective of what a potential
      customer would think.
    </p>
    <p>
      Note that the (xxxx) app/site provides a forum for customers to share both
      positive and negative experiences and opinions. We don't arbitrate
      disputes and will not remove reviews because they are harmful and absent
      highly unusual circumstances. However, in our sole discretion, we reserve
      the right to determine, err on the transparency side, and comply with our
      policy to leave reviews published. To balance this "policy," businesses
      may submit responses to reviews.
    </p>
    <p>Reviews may be removed for any of the following reasons:</p>
    <ul>
      <li>
        Inappropriate content: Don't post reviews that contain or link to
        unlawful content, content that violates our user agreement, or infringes
        on privacy.
      </li>
      <li>
        Conflict of interest: Reviews are only valuable when they are honest and
        unbiased. For example, don't post reviews about your business, a
        competitor, or a current/former employer.
      </li>
      <li>
        Misrepresentation: Don't misrepresent your identity or affiliation with
        the company being reviewed, such as submitting a review on behalf of a
        client.
      </li>
      <li>
        Others' experience: Don't submit reviews that do not reflect your own
        experience but those of another party.
      </li>
      <li>
        Accuracy: Make sure your review is factually correct. Don't exaggerate
        or misrepresent your experience. We don't take sides regarding factual
        disputes, so we expect you to stand behind your review.
      </li>
      <li>
        Off-topic reviews: Reviews are not a forum for personal rants or
        crusades, nor are they meant to be a forum for general political or
        social commentary. Stick to the facts about your experience.
      </li>
      <li>
        Outdated reviews: Reviews should be from the latest experience varying
        up to (yyy years)
      </li>
    </ul>
    <h3>Photo and Video Guidelines</h3>
    <p>
      Photos and videos should be relevant to the business and present the
      typical consumer experience. If you’re a business, present what you offer
      and what is your Unique Selling Point that makes your business unique.
      Here are some additional things to keep in mind:
    </p>
    <ul>
      <li>
        Keep it relevant to everyone: We may remove a photo or video that
        showcases a uniquely personal experience that is not related to other
        people (e.g., a receipt or email exchange with a business) from the
        photo gallery for the business, but it may appear alongside your review
        if you write one about the business.
      </li>
      <li>
        Keep it clean: We don’t want imagery of violence, drug use, nudity, near
        nudity, or suggestive acts—even if those images are related to the
        business’s services or products.
      </li>
      <li>
        Keep it friendly: Don’t use your photos or videos to attack or disparage
        others. An image is worth 1,000 words, so it’s ideal to choose those
        words precisely and keep your point clearly in a review, direct message,
        or review response.
      </li>
    </ul>
    <h3>Community Guidelines</h3>
    <p>
      Use your account to let people know who you are and what makes you tick.
      Your peers want to read reviews from people they know and rely on.
    </p>
    <p>
      <b>User Profile:</b> Since user trust and transparency are essential to
      us, anonymous users who are disruptive to the community will be dealt with
      more sternly than those who stand behind their words. We encourage users
      to tell people a little something about themselves but ask that you keep
      it relevant and don’t attack competitors, reviewers, or Yelp. Avoid
      seeding your profile with keywords, special offers, or promotions—we’ll
      remove those if we see them.
    </p>
    <p>
      <b>Consumer Messaging:</b> (xxxx) has an easy-to-use messaging feature to
      keep you connected with your fellow peers. However, kindly don’t use this
      feature to harass fellow users or send inappropriate content, and
      remember, customer accounts are for personal, non-commercial use only.
    </p>
    <p>
      <b>Business Messaging:</b> Businesses should message reviewers using their
      free Business Account. Direct messaging is usually considered the best way
      to address a dispute with an unsatisfied customer. Still, you can also
      publicly resolve issues by posting a comment in response to a specific
      review. As with customers, we ask that business representatives upload a
      clear photo of themselves to help personalize their messaging. Remember,
      don’t use direct messages or public comments for personal attacks or offer
      an incentive to change a review.
    </p>
    <p>
      <b>Ask The Community:</b> Being a part of a community where you can ask
      and answer questions about a business is exceptionally valuable, but as
      the cliche is, with great power comes great responsibility. Adhere to
      questions that are also relevant to others, don’t ask loaded questions or
      make presumptions, and keep the tone non-argumentative and civil. Suppose
      you don’t have anything meaningful to add; better not to say anything.
      Clear questions with enough context and details will get more focused
      answers and meaningful conversations.
    </p>
  </div>
</div>
