<footer class="endsection">
  <div class="footer-list">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a
              href="javascrit:void"
              class="nav-link px-2"
              [routerLink]="['/about']"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              href="javascrit:void"
              class="nav-link px-2"
              [routerLink]="['/contact-us']"
              >Contact Us</a
            >
          </li>
          <li class="nav-item">
            <a
              href="javascrit:void"
              class="nav-link px-2"
              [routerLink]="['/trust-and-safety']"
            >
              Trust & Safety</a
            >
          </li>
          <li class="nav-item">
            <a
              href="javascrit:void"
              class="nav-link px-2"
              [routerLink]="['/review-guidelines']"
              >Content Guidelines</a
            >
          </li>
          <li class="nav-item">
            <a [routerLink]="['/terms-of-services']" class="nav-link px-2"
              >Terms of Service</a
            >
          </li>
          <li class="nav-item">
            <a
              href="javascrit:void"
              class="nav-link px-2"
              [routerLink]="['/privacy-policy']"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12 col-12">
        <div class="contact-info">
          <div class="info-box mb">
            <h6>Email:</h6>
            <p>contact@dinespotting.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <hr style="background-color:#232323; width:100%,"> -->
  <!-- <div class="contact-info">
     <div class="row">
       <div class="col-lg-4 col-md-4 col-12">
         <div class="info-box mb">
           <h6>Address:</h6>
           <p>8901 Marmora Road, Glasgow D04 89 GR, New York</p>
         </div>
       </div>
       <div class="col-lg-4 col-md-4 col-12">
         <div class="info-box mb">
           <h6>Telephone:</h6>
           <p>(+1) 9876543210s</p>
         </div>
       </div>  
       <div class="col-lg-4 col-md-4 col-12">
         <div class="info-box mb">
           <h6>Email:</h6>
           <p>contact@dinespotting.com</p>
         </div>
       </div>
     </div>
  </div> -->
  <!-- <hr style="background-color:#232323; width:100%,"> -->
  <div class="copyright">
    Copyright 2022
    <a [routerLink]="['/home']" class="copyright-link">Dine Spotting</a>. All
    Rights Reserved
  </div>
</footer>
