<div class="login forget-password">
    <div class="contentbox">
       <div class="login-form">
          <a href="#"><img src="assets/img/logo.svg" class="logo_img" alt=""></a>   
          <h2>Forgot Password  </h2>
          <p> Please enter the following credentials!</p>
          <form class="row g-3" [formGroup]="forgetPasswordForm">
             <div class="col-md-12 col-12 form-group">
                <label for="inputEmail4" class="form-label">Email Address <span style="color:red;font-size: 30px;line-height: 17px;margin-top: 5px;">*</span></label>
                <input type="email" class="form-control" id="inputEmail4"  placeholder="dinespotting@email.com" formControlName="email">
                <img src="assets/img/check.svg" *ngIf="this.forgetPasswordForm.get('email').valid && !(forgetPasswordForm.controls.email.errors?.email || forgetPasswordForm.controls.email.errors?.pattern)" class="eye-icon button " alt="">
                <div class="invalid-feedback" *ngIf="isFormSubmitted || this.forgetPasswordForm.get('email').touched">
                     <div *ngIf="this.forgetPasswordForm.get('email').errors?.required">Email is required</div>
                    <div *ngIf="forgetPasswordForm.controls.email.errors?.email || forgetPasswordForm.controls.email.errors?.pattern">Email must be a valid email address.</div>
                 </div>
             </div>
             
      
             <!-- <a class="btn btn-primary" href="#" role="button">SUBMIT</a>   -->
             <div class="modal-box">
                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-primary" id="openModalButton" (click)="onSubmit()" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                SUBMIT
                </button>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-dialog-centered"   [style.display]="showModal ? 'block' : 'none'">
                      <div class="modal-content">
                         <div class="modal-header">
                            <img src="assets/img/lock.svg" alt="">
                         </div>
                         <div class="modal-body">
                            A reset link has been sent to your registered
                            email ID <a href="#">{{this.email}}</a>
                         </div>
                         <div class="modal-footer text-center">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OKAY</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <a style="text-align:center ;font-size: 14px;text-decoration: none;font-weight:bold" [routerLink]="['/auth/login']">Login</a>
          </form>
       </div>
    </div>
    <div class="login-img">
       <img src="assets/img/login-img.png" alt="">
    </div>
 </div>