

.reset_wrap {
    margin-bottom: 25px;
}
.success_popup{
    text-align: center;
    padding:40px 0;
}
.success_popup p {
    font-size: 16px;
    font-weight: 600;
    padding: 30px 60px;
}

.resend_otp_wrap{text-align:center;margin-top:25px;}
.resend_otp_wrap a{color:#27adeb;font-weight: 700;font-size:14px;}

.checkbox_row {
    display: flex;
    justify-content: space-between;
}
.checkbox_row label {
    color: #000;
    font-size: 13px;
}
.password_input{
    margin:11px 0;
}
