<!-- <div id="login-page" class="cmn-bg form-signin">
  <div class="form-wrapper">
    <div class="form-bg">
      <h3>Welcome, Admin</h3>
      <h5>Sign in to start your session</h5>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="inputEmail1" class="form-label">Email Address</label>
          <span class="email">
            <input type="email" formControlName="email" class="form-control" id="inputEmail1"
              placeholder="Enter Email" />
          </span>
          <p *ngIf="formRef['email']?.touched || submitted">
            <app-form-validation-errors errorPrefix="Email " [errors]="formRef['email']?.errors || []">
            </app-form-validation-errors>
          </p>
        </div>
        <div class="mb-3">
          <label for="inputPassword1" class="form-label">Password</label>
          <span class="password">
            <input type="password" formControlName="password" class="form-control" id="inputPassword1"
              placeholder="Enter Password" />
          </span>
          <p *ngIf="formRef['password']?.touched || submitted">
            <app-form-validation-errors errorPrefix="Password " [errors]="formRef['password']?.errors || []">
            </app-form-validation-errors>
          </p>
        </div>
        <div class="mb-4 text-end text-right">
          <label class="form-check-label" for="forgotPassword1"><a routerLink="/forgot-password"
              class="light-purple">Forgot Password?</a></label>
        </div>
        <button type="submit" [disabled]="!loginForm.valid" [ngClass]="{ 'disabled-btn': !loginForm.valid }"
          class="primary-btn w-100">Login</button>
      </form>
    </div>
  </div>
</div> -->
<!--new login-->
<div class="login signup" id="login-page">
  <div class="row">
    <div class="col-md-6">
      <div class="form-wrap">
        <div class="form-auto">
          <a href="#"> <img src="https://designdinespotting.trigma.in/assets/img/logo.svg"></a>
          <h2>Welcome, Admin</h2>
          <p>Sign in to start your session</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="inputEmail1" class="form-label">Email Address</label>
              <span class="email">
                <input type="email" formControlName="email" class="form-control" id="inputEmail1"
                  placeholder="Enter Email" />
              </span>
              <p *ngIf="formRef['email']?.touched || submitted">
                <app-form-validation-errors errorPrefix="Email " [errors]="formRef['email']?.errors || []">
                </app-form-validation-errors>
              </p>
            </div>
            <div class="mb-3">
              <label for="inputPassword1" class="form-label">Password</label>
              <span class="password">
                <input type="password" #input formControlName="password" class="form-control" id="inputPassword1"
                  placeholder="Enter Password" />
                  <img src="assets/img/hide.svg" class="eye-icon button" *ngIf="!this.fieldtext" (click)="toggleField(input)" alt="">
                  <img src="assets/img/show.svg" class="eye-icon button" *ngIf="this.fieldtext"  alt="" (click)="toggleField(input)">
              </span>
              <p *ngIf="formRef['password']?.touched || submitted">
                <app-form-validation-errors errorPrefix="Password " [errors]="formRef['password']?.errors || []">
                </app-form-validation-errors>
              </p>
            </div>
            <div class="mb-4 text-end text-right">
              <label class="form-check-label" for="forgotPassword1"><a routerLink="/forgot-password"
                  class="light-purple">Forgot Password?</a></label>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" [ngClass]="{ 'disabled-btn': !loginForm.valid }"
              class="btn btn-primary w-100">Login</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="login-img-wrap">
        <img src="https://designdinespotting.trigma.in/assets/img/login-img.png">
      </div>
    </div>
  </div>
</div>