<mk-box header="{{formStatus}} Client" [isLoading]="false" [isCollapsed]="isCollapsed" [isCollapsable]="true" [isRemovable]="false"> 
    <!-- Add/Update Record-->
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="box-body">          
            <div class="form-group row"> 
                <div class="col-3">
                    <label>Name*</label>
                    <input formControlName="name" class="form-control" type="text" placeholder="Category Name">  
                    <p class="errorCls"  *ngIf="formRef['name'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Name " [errors]="formRef['name'].errors || []"></app-form-validation-errors>
                    </p>
                </div>
                <div class="col-3">
                    <label>Number*</label>
                    <input formControlName="number" class="form-control" type="text" placeholder="Number">  
                    <p class="errorCls"  *ngIf="formRef['number'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Number " [errors]="formRef['number'].errors || []"></app-form-validation-errors>
                    </p>
                </div>
                <div class="col-3">
                    <label>Age*</label>
                    <input formControlName="age" class="form-control" type="text" placeholder="Age">  
                    <p class="errorCls"  *ngIf="formRef['age'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Age " [errors]="formRef['age'].errors || []"></app-form-validation-errors>
                    </p>
                </div>                
            </div> 

            <div class="form-group row"> 
                <div class="col-3">
                    <label>enquiry*</label>
                    <input formControlName="name" class="form-control" type="text" placeholder="Category Name">  
                    <p class="errorCls"  *ngIf="formRef['name'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Name " [errors]="formRef['name'].errors || []"></app-form-validation-errors>
                    </p>
                </div>
                <div class="col-3">
                    <label>Nationality*</label>
                    <input formControlName="nationality" class="form-control" type="text" placeholder="Nationality">  
                    <p class="errorCls"  *ngIf="formRef['nationality'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Nationality " [errors]="formRef['nationality'].errors || []"></app-form-validation-errors>
                    </p>
                </div>
                <div class="col-3">
                    <label>Gender*</label>
                    <select formControlName="gender" class="form-control">
                        <option value="">--Select Gender--</option> 
                        <option value="true">Male</option>       
                        <option value="false">Female</option>         
                    </select>  
                    <p class="errorCls"  *ngIf="formRef['gender'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Gender" [errors]="formRef['gender'].errors || []"></app-form-validation-errors>
                    </p>
                </div>                
            </div>

            <div class="form-group row"> 
                <div class="col-3">
                    <label>Address*</label>
                    <input formControlName="address" class="form-control" type="text" placeholder="Address">  
                    <p class="errorCls"  *ngIf="formRef['address'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Address " [errors]="formRef['address'].errors || []"></app-form-validation-errors>
                    </p>
                </div>
                <div class="col-3">
                    <label>Work*</label>
                    <input formControlName="nationality" class="form-control" type="text" placeholder="Nationality">  
                    <p class="errorCls"  *ngIf="formRef['nationality'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Nationality " [errors]="formRef['nationality'].errors || []"></app-form-validation-errors>
                    </p>
                </div>
                <div class="col-3">
                    <label>Medical Condition*</label>
                    <input formControlName="medical_condition" class="form-control" type="text" placeholder="Medical Condition">  
                    <p class="errorCls"  *ngIf="formRef['medical_condition'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Medical Condition" [errors]="formRef['medical_condition'].errors || []"></app-form-validation-errors>
                    </p>
                </div>                
            </div>
            <div class="form-group row"> 
                <div class="col-3">
                    <label>Medicines*</label>
                    <input formControlName="medicines" class="form-control" type="text" placeholder="medicines">  
                    <p class="errorCls"  *ngIf="formRef['medicines'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Medicines " [errors]="formRef['medicines'].errors || []"></app-form-validation-errors>
                    </p>
                </div>
                <div class="col-3">
                    <label>Allergies*</label>
                    <input formControlName="allergies" class="form-control" type="text" placeholder="Allergies">  
                    <p class="errorCls"  *ngIf="formRef['allergies'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="Allergies " [errors]="formRef['allergies'].errors || []"></app-form-validation-errors>
                    </p>
                </div> 
                <div class="col-3">
                    <label>is Active</label>
                    <select formControlName="is_active" class="form-control">
                    <option value="true">Yes</option>       
                    <option value="false">No</option>         
                    </select> 
                </div>                               
            </div>
            <div class="form-group row">
                <div class="col-9">
                    <label>History*</label>
                    <textarea formControlName="history" class="form-control" placeholder="History"></textarea> 
                    <p class="errorCls"  *ngIf="formRef['history'].touched || isFormSubmitted">
                        <app-form-validation-errors errorPrefix="History" [errors]="formRef['history'].errors || []"></app-form-validation-errors>
                    </p>
                </div> 
            </div>           
        </div>
       
        <!-- /.box-body -->

        <div class="box-footer">     
            <button type="submit" class="btn btn-primary">{{formStatus}}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
            
        </div>
    </form>
    <!-- End Here-->

</mk-box>

<!-- Listing Data-->
<div class="row">
    <div class="col-12">
       
        <!-- listing will start here-->
        <div class="card table-responsive" id="dataTable">
            <ngx-datatable #myTable class="material ngx-datatable expandable" [rows]="tableData" [loadingIndicator]="loadingIndicator"
                [columnMode]="'standard'" [headerHeight]="100" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true"
                [limit]="itemsPerPage" ngx-resize-watcher>      
                <ng-container *ngFor="let col of columns">
                <ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop"
                    [width]="col.width" [sortable]="col.sortable">
                    
                    <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                        <span class="table-action" *ngIf="tableData[0] && col.prop === 'Action' && !tableData[0]['message']">
                            <!--<div class="form-check form-check-inline">							
                                <input id="inlineCheckbox_{{row.id}}"  [checked]="true" type="checkbox"  class="form-check-input" [value]="row.isActive">
                                <label _ngcontent-c14="" class="form-check-label" for="inlineCheckbox_{{row.id}}"></label>
                            </div>-->
                            <a class="anchor action-icon" href="javascript:void(0)" title="Edit" (click)="edit(row)"><i class="fa fa-fw fa-edit"></i></a>		
                            <a class="anchor action-icon" href="javascript:void(0)" title="Delete" (click)="delete(row)"><i style="color:red;" class="fa fa-fw fa-trash"></i></a>                                  
                        </span>	
                                
                        <span *ngIf="col.prop === 'description'">				
                            <!--<read-more [isTitleShow]="false" [maxLength]="200" [text]="value"></read-more>-->
                        </span>
                        
                        <span *ngIf="col.prop != 'description' && col.prop != 'sop_video_link' && col.prop != 'sop_document_link' && col.prop != 'types'">{{value}}</span>
                        <span *ngIf="col.prop === 'types'" style="text-transform: capitalize;">{{value}}</span>
                    </ng-template>
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper float-left">
                            <span class="datatable-header-cell-label draggable" (click)="sort()">
                                {{col.name}}
                            </span>
                        </span>

                        <!-- Search box for text type-->
                        <div class="input-group float-right" *ngIf="col.type !='date'&& col.prop != 'Action'">
                            <input type='text' [id]="col.prop" name="col.prop" class="form-control bg-gray"
                                tabindex="-1" placeholder="Search" (keyup)='filterData($event, "text")'
                                [(ngModel)]="filterObj[col.prop]" [ngModelOptions]="{standalone: true}" />
                            <span class="input-group-btn" *ngIf="filterObj[col.prop]">
                                <a  class="dataTable-cross" (click)="clearSearch(col.prop);"
                                    href="javascript:void(0);">
                                    <i class="fa fa-times suffex cross"></i>
                                </a>
                            </span>
                        </div>
                        <!--End-->
                        <!-- Search box for date type-->
                        <div class="input-group float-right" *ngIf="col.type =='date'">
                            <input [owlDateTimeTrigger]="dt" class="form-control t-search-tb" tabindex="-1"
                                placeholder="Select Date" [id]="col.prop" [owlDateTime]="dt"
                                (dateTimeChange)='filterData($event,"date")' readonly="true"
                                [(ngModel)]="col.value" [ngModelOptions]="{standalone: true}">
                            <span [owlDateTimeTrigger]="dt"><i class="fa fa-calendar"></i></span>
                            <owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
                            <span class="input-group-btn" *ngIf="col.value">
                                <a  class="dataTable-cross" (click)="clearSearch(col.prop); col.value='';"
                                    href="javascript:void(0);">
                                    <i class="fa fa-times suffex cross"></i>
                                </a>
                            </span>
                        </div>
                        <!--End-->

                        <!--<div class="input-group float-right" *ngIf="col.prop =='Action'">
                            <div class="form-check form-check-inline">
                                <input id="inlineCheckbox_Action" [checked]="true" type="checkbox" (change)="isAllNotesSelected($event)" class="form-check-input">
                                <label _ngcontent-c14="" class="form-check-label" for="inlineCheckbox_Action">All</label>
                            </div>
                        </div>-->
                    </ng-template>
                </ngx-datatable-column>
            </ng-container>      
                <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                    <div style="padding: 5px 10px; width: 100%;">                
                    <div>
                        Showing:
                        {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}} of
                        Total: {{totalCount}}      
                    </div>
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                    [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="myTable.onFooterPage($event)">
                    </datatable-pager>
                    <div style="padding: 5px 10px" class="ml-auto" [hidden]="noRecords"
                    *ngIf="totalCount !== filteredItems?.length">
                    <div>
                        <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                    </div>
                    </div>
                </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
</div>
<!-- End-->